@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Vollkorn:ital@0;1&display=swap");
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"), url("../fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-BlackItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"), url("../fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBoldItalic.eot");
  src: local("Gilroy SemiBold Italic"), local("Gilroy-SemiBoldItalic"), url("../fonts/Gilroy/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBoldItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"), url("../fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-MediumItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBoldItalic.eot");
  src: local("Gilroy ExtraBold Italic"), local("Gilroy-ExtraBoldItalic"), url("../fonts/Gilroy/Gilroy-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBoldItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"), url("../fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-HeavyItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"), url("../fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*Обнулення стилів */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*--------------------*/
h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 120%;
  color: #474551;
}

h2 {
  font-weight: 500;
  font-size: 42px;
  line-height: 120%;
  color: #474551;
}

h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #099DBA;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

body {
  font-family: 'Gilroy', 'Roboto', sans-serif;
  font-style: normal;
  height: 100%;
}

.lock {
  overflow: hidden;
}

section {
  margin-top: 90px !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #099DBA;
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .logo {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  .logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.logo img {
  margin-right: 15px;
}

@media (max-width: 1024px) {
  .logo img {
    max-width: 73px;
    margin-right: 11px;
  }
}

.cta {
  width: 280px;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background: #046DBF;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  color: #fff;
  padding: 9px 45.5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cta:active {
  border: 2px solid #099DBA;
  background-color: #fff;
  color: #099DBA;
  line-height: 22px;
}

@media (min-width: 1023px) {
  .cta:hover {
    border: 2px solid #099DBA;
  }
}

.btn {
  text-align: center !important;
  width: 185px !important;
  max-height: 40px !important;
  padding: 7px 0 !important;
  background: rgba(255, 255, 255, 0.6) !important;
  border: 2px solid #099DBA !important;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05) !important;
  border-radius: 30px !important;
  cursor: pointer !important;
  -webkit-transition: 0.2s !important;
  transition: 0.2s !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 22px !important;
  color: #099DBA !important;
}

.btn:active {
  border: 2px solid #099DBA !important;
  background-color: #BDF8F9 !important;
  color: #099DBA !important;
}

@media (min-width: 1023px) {
  .btn:hover {
    background-color: #BDF8F9 !important;
  }
  .btn:active {
    border: 2px solid #099DBA !important;
    background-color: #fff !important;
    color: #099DBA !important;
  }
}

.img-bg {
  position: relative;
}

.img-bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__title {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .section__title h2 {
    font-size: 36px;
  }
}

@media (max-width: 425px) {
  .section__title h2 {
    font-size: 24px;
  }
}

.section__title h3 {
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .section__title h3 {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .section__title h3 {
    font-size: 20px;
  }
}

.section__title h3 span {
  color: #046DBF;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.burger {
  text-decoration: inherit;
}

.burger__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(../img/main-bg.jpg) right/cover no-repeat;
  z-index: 2;
  padding: 15px 24px 30px 24px;
  -webkit-transition: top 0.3s ease-in 0.1s;
  transition: top 0.3s ease-in 0.1s;
  overflow: hidden;
  margin: auto;
  z-index: 20;
}

.burger__menu-wrapper.active {
  top: 0;
}

.burger__menu-wrapper .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.burger__menu-list {
  list-style: none;
  position: relative;
  font-size: 0.92rem;
  font-weight: 700;
  line-height: 3rem;
  margin: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
}

.burger__menu-list a {
  color: #474551;
  opacity: 0.8;
}

.burger__menu-list li {
  list-style: none;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-item-img {
  height: 100%;
  border-radius: 15px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.owl-item-img:hover {
  -webkit-filter: contrast(1.1);
          filter: contrast(1.1);
}

.owl-nav {
  width: 100%;
  position: absolute;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425px) {
  .owl-nav {
    display: none;
  }
}

.owl-nav button {
  display: block;
  width: 30px;
  height: 30px;
  background: #BDF8F9 !important;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05)) !important;
          filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05)) !important;
}

.owl-dots {
  margin: 10px auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.owl-dot {
  width: 18px;
  height: 18px;
  background-color: #BDF8F9 !important;
  border-radius: 50%;
}

.owl-dot.active {
  border: 1px solid #33D9DA !important;
}

.owl-dot + .owl-dot {
  margin-left: 20px;
}

.modal-content {
  padding: 5px;
  background: #F3FEFE;
}

.btn-close {
  margin-left: auto;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.modal-body h3 {
  font-size: 26px;
  line-height: 140%;
}

.modal-body a {
  margin: 30px auto;
  width: 70% !important;
}

@media (max-width: 666px) {
  .modal-body .modal-doctor-card {
    display: block !important;
  }
}

@media (max-width: 500px) {
  .header {
    background: #F3FEFE;
  }
}

.header__lang {
  position: absolute;
  top: 20px;
  right: 0;
  color: #099DBA;
}

@media (max-width: 375px) {
  .header__nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.lang {
  color: inherit;
  cursor: pointer;
  background: inherit;
}

@media (max-width: 500px) {
  .lang {
    background: #F3FEFE;
  }
}

@media (min-width: 769px) {
  .lang:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

.lang-active {
  font-weight: bold;
  text-decoration: underline;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 160px;
  position: relative;
}

@media (max-width: 1024px) {
  nav {
    min-height: 130px;
  }
}

nav .mini-burger {
  position: fixed;
  top: 5px;
  right: 15px;
  z-index: 300;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0.7;
}

nav .nav__burger {
  display: none;
}

@media (max-width: 1024px) {
  nav .nav__burger {
    display: block;
  }
}

nav .nav__burger .burger__img {
  background: #FFF;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  max-width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  nav .nav__burger .burger__img {
    width: 60px;
    height: 60px;
  }
}

nav .work-time {
  max-width: 160px;
}

@media (max-width: 992px) {
  nav .work-time {
    display: none;
  }
}

nav .work-address {
  max-width: 152px;
}

@media (max-width: 507px) {
  nav .work-address {
    display: none;
  }
}

nav .nav__address:hover .nav__address-subtitle {
  font-weight: 600;
}

nav .nav__address-title {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #099DBA;
  padding-left: 30px;
}

@media (max-width: 1024px) {
  nav .nav__address-title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  nav .nav__address-title {
    font-size: 18px;
  }
}

nav .nav__address-title:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 22px;
  display: inline-block;
  top: 0;
  left: 0;
  background: url(../img/icons/MapPin.svg) 0 0 no-repeat;
}

nav .nav__address-subtitle {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #474551;
  margin-top: 10px;
}

nav .nav__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav__social-icons a {
  display: block;
  padding: 2px;
}

@media (max-width: 768px) {
  nav .nav__social-icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 539px) {
  nav .nav__social-icons {
    display: none;
  }
}

nav .nav__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
}

nav .nav__tel a {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.025em;
  color: #474551;
}

@media (max-width: 992px) {
  nav .nav__tel a {
    font-size: 16px;
  }
}

nav .nav__tel a:hover {
  font-weight: 600;
}

nav .nav__tel .callme {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #099DBA;
}

nav .nav__tel .callme:hover {
  font-weight: 600;
  color: #474551;
}

@media (max-width: 768px) {
  nav .nav__tel {
    display: none;
  }
}

.page__main-block {
  position: relative;
}

@media (max-width: 425px) {
  .page__main-block {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  }
}

.main-block__body {
  padding: 92px 0 132px 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  .main-block__body {
    padding: 60px 0 32px 0;
  }
}

@media (max-width: 1024px) {
  .main-block__body {
    padding: 30px 0 70px 0;
  }
}

@media (max-width: 425px) {
  .main-block__body {
    padding: 20px 0 106px 0;
  }
}

.main-block__title {
  max-width: 926px;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .main-block__title {
    max-width: 628px;
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .main-block__title {
    max-width: 527px;
    font-size: 32px;
  }
}

@media (max-width: 425px) {
  .main-block__title {
    max-width: 277px;
    font-size: 20px;
  }
}

.main-block__subtitle {
  max-width: 630px;
}

@media (max-width: 1024px) {
  .main-block__subtitle {
    max-width: 500px;
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .main-block__subtitle {
    max-width: 277px;
    font-size: 16px;
  }
}

.main-block__text {
  max-width: 456px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #474551;
  margin: 60px 0;
}

.main-block__text span {
  color: #33D9DA;
}

@media (max-width: 1024px) {
  .main-block__text {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .main-block__text {
    display: block;
    margin-top: 30px;
  }
}

@media (max-width: 425px) {
  .main-block__text {
    max-width: 267px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .main-block__buttons {
    display: inline-block;
    margin: 0 0 0 46px;
  }
}

@media (max-width: 768px) {
  .main-block__buttons {
    display: block;
    text-align: center;
    margin: 18px 0 0 0;
  }
}

@media (max-width: 425px) {
  .main-block__buttons {
    margin: 30px 0 0 0;
  }
}

.main-block__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 425px) {
  .main-block__img img {
    -o-object-position: 85%;
       object-position: 85%;
  }
}

@media (max-width: 425px) {
  .main-block__img img {
    opacity: 0.3;
  }
}

.page__benefits {
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  .page__benefits {
    margin-top: -20px;
  }
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

@media (max-width: 627px) {
  .benefits__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 15px;
  }
}

.benefits__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 627px) {
  .benefits__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .benefits__column:not(:last-child) {
    margin-bottom: 20px;
  }
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #F3FEFE;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .benefits__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.benefit__icon {
  min-width: 63px;
}

.benefit__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #099DBA;
}

@media (max-width: 1024px) {
  .benefit__title {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .benefit__title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.benefit__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

@media (max-width: 1024px) {
  .benefit__subtitle {
    font-size: 16px;
    margin: 20px 0 0 0;
  }
}

.benefit__text {
  margin: 0 0 10px 25px;
}

@media (max-width: 1024px) {
  .benefit__text {
    text-align: center;
    margin: 20px 0 0 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 768px) {
  .benefit__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.free-consultation {
  text-align: center;
}

.free-consultation .free-consultation-cta {
  font-size: 24px;
  line-height: 29px;
}

.free-consultation-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 422px;
  margin-bottom: 40px;
}

@media (max-width: 549px) {
  .free-consultation-cards {
    padding: 0 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.free-consultation-cards .consultation__card-column {
  max-width: 410px;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}

.free-consultation-cards .consultation__card-column:nth-child(2) {
  margin: 0 5px;
}

@media (max-width: 549px) {
  .free-consultation-cards .consultation__card-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.free-consultation-cards .consultation__card {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 549px) {
  .free-consultation-cards .consultation__card {
    padding: 30px 0 0 0;
  }
}

.free-consultation-cards .consultation__card-img {
  max-width: 410px;
  height: 280px;
}

@media (max-width: 549px) {
  .free-consultation-cards .consultation__card-img {
    height: 100%;
  }
}

.free-consultation-cards .consultation__card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -o-object-position: right;
     object-position: right;
}

.free-consultation-cards .consultation__card-text {
  margin-top: 20px;
  color: #474551;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.free-consultation-cards .consultation__card-text .card-text-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 5%;
}

@media (max-width: 1024px) {
  .free-consultation-cards .consultation__card-text .card-text-title {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .free-consultation-cards .consultation__card-text .card-text-title {
    font-size: 18px;
  }
}

.free-consultation-cards .consultation__card-text .card-text-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.promotion {
  text-align: center;
}

.promotion__carousel {
  position: relative;
  min-height: 365px;
}

.promotion__carousel-arrow {
  position: absolute;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .promotion__carousel-arrow {
    display: none;
  }
}

.promotion__carousel-arrow img {
  display: block;
  width: 100%;
  height: 100%;
}

.promotion .arrow__left {
  top: 0;
  left: 0;
  padding-left: -15px;
  cursor: pointer;
}

.promotion .arrow__right {
  top: 0;
  right: 0;
  cursor: pointer;
}

.promotion .arrow__prev,
.promotion .arrow__next {
  padding: 8px;
  background: #F3FEFE;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
}

.shares__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
  min-height: 300px;
}

.shares__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 768px) {
  .shares__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 550px) {
  .shares__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.shares__item {
  position: relative;
  max-height: 300px;
}

.share__img {
  position: relative;
  max-width: 300px;
  margin: auto;
}

.share__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.share__button {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.share__button a {
  margin: auto;
}

.dots {
  margin-top: 30px;
}

.dots .dot {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #BDF8F9;
  border-radius: 50%;
}

.dots .dot:not(:last-child) {
  margin: 0 20px 0 0;
}

.dots .dot__active {
  width: 24px;
  height: 24px;
  background-color: #33D9DA;
}

.services .services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.services .services__cards .services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .services .services__cards .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.services .services__cards .services__card {
  background: #F3FEFE;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 0 0 30px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .services__cards .services__card .services__card-content {
  text-align: start;
  padding: 30px 15px 5px 30px;
}

.services .services__cards .services__card .services__card-content h3 {
  margin-bottom: 9px;
}

@media (max-width: 1024px) {
  .services .services__cards .services__card .services__card-content h3 {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .services .services__cards .services__card .services__card-content h3 {
    margin-bottom: 30px;
  }
}

@media (max-width: 505px) {
  .services .services__cards .services__card .services__card-content h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.services .services__cards .services__card .services__card-content-img {
  float: right;
  max-width: 253px;
}

@media (max-width: 1024px) {
  .services .services__cards .services__card .services__card-content-img {
    max-width: 320px;
    margin: 15px 45px 0 0;
  }
}

@media (max-width: 768px) {
  .services .services__cards .services__card .services__card-content-img {
    max-width: 240px;
    margin: 100px 35px 0 0;
  }
}

@media (max-width: 505px) {
  .services .services__cards .services__card .services__card-content-img {
    max-width: 100px;
    margin: -55px 0 0 0;
  }
}

.services .services__cards .services__card .services__card-content-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.services .services__cards .services__card .card-1 {
  shape-outside: url(../img/services_1.png);
  shape-margin: 1%;
}

.services .services__cards .services__card .card-2 {
  shape-outside: url(../img/services_2.png);
  shape-margin: 2%;
}

.services .services__cards .services__card .card-3 {
  shape-outside: url(../img/services_3.png);
  shape-margin: 2%;
}

.services .services__cards .services__card .card-4 {
  shape-outside: url(../img/services_4.png);
  shape-margin: 2%;
}

.services .services__cards .services__card .card-5 {
  shape-outside: url(../img/services_5.png);
  shape-margin: 2%;
}

.services .services__cards .services__card .card-6 {
  shape-outside: url(../img/services_6.png);
  shape-margin: 2%;
}

.services .services__cards .services__card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #474551;
  margin: 0 0 15px 0;
}

.services .services__cards .services__card li {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  margin-left: 20px;
  color: #474551;
}

.buttons-ask-in-messenger {
  text-align: center;
}

@media (max-width: 425px) {
  .buttons-ask-in-messenger {
    display: none;
  }
}

.buttons-ask-in-messenger span {
  padding-left: 30px;
  color: #474551;
}

.buttons-ask-in-messenger img:first-child {
  margin-right: 9px;
}

.services__card-buttons-cta {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 425px) {
  .services__card-buttons-cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px;
  }
}

.services__card-buttons-cta button {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 188px;
}

@media (max-width: 425px) {
  .services__card-buttons-cta button {
    margin: 15px auto;
  }
}

.cta-hover:hover {
  background: #046DBF;
  border: 2px solid #046DBF;
  color: #FFF;
}

.tech {
  margin-top: 30px;
  padding: 0 5px;
}

.tech__container {
  background: #F3FEFE;
  border-radius: 20px;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}

.tech__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 1024px) {
  .tech__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.tech__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 30px 15px;
  height: 100%;
}

@media (max-width: 1024px) {
  .tech__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 425px) {
  .tech__column {
    padding: 30px 0;
  }
}

.tech__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-frame__title {
  margin: 30px 0;
}

.video-frame__title h3 {
  margin: 0;
}

.video-frame__player {
  max-width: 550px;
  margin: auto;
}

@media (max-width: 610px) {
  .video-frame__player {
    margin: 0;
    width: 100%;
  }
}

.video-frame__player h4 {
  color: #099DBA;
  margin-bottom: 9px;
}

.video-frame__player iframe {
  width: 550px;
  height: 305px;
  display: block;
}

@media (max-width: 610px) {
  .video-frame__player iframe {
    width: 100%;
  }
}

.video-frame__btn {
  margin: 30px 0;
}

@media (max-width: 1024px) {
  .video-frame__btn {
    display: none;
  }
}

.text-frame {
  margin-top: 30px;
}

.text-frame__list {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #474551;
  margin: auto;
}

@media (max-width: 768px) {
  .text-frame__list {
    font-size: 20px;
  }
}

.text-frame__list li {
  margin: 0 0 30px 20px;
}

@media (max-width: 375px) {
  .text-frame__list li {
    margin: 0 0 30px 0;
  }
}

.text-frame__btn {
  display: none;
}

@media (max-width: 1024px) {
  .text-frame__btn {
    display: block;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin: auto;
  }
}

.tech__benefits-list {
  padding: 60px 0 70px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../img/section-bg.jpg) center/cover no-repeat;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/section-bg.jpg) center/cover no-repeat;
  border-radius: 0 0 20px 20px;
}

@media (max-width: 810px) {
  .tech__benefits-list {
    padding: 60px 5px 70px 5px;
  }
}

.tech__benefits-list .tech__benefits-list-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech__benefits-list .tech__benefits-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 770px;
  background: #BDF8F9;
  border-radius: 20px;
  padding: 18px 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media (min-width: 1025px) {
  .tech__benefits-list .point-1 {
    margin-left: 5%;
  }
  .tech__benefits-list .point-2 {
    margin-left: 15%;
  }
  .tech__benefits-list .point-3 {
    margin-left: 25%;
  }
  .tech__benefits-list .point-4 {
    margin-left: 35%;
  }
}

.tech__benefits-list .point__number {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 68px;
  line-height: 160%;
  color: #046DBF;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 630px) {
  .tech__benefits-list .point__number {
    width: 80px;
    height: 80px;
    font-size: 52px;
  }
}

.tech__benefits-list p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #474551;
}

@media (max-width: 630px) {
  .tech__benefits-list p {
    font-size: 14px;
  }
}

.tech__benefits-list .services__card-buttons {
  margin-top: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.doctors .doctors__list-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 666px) {
  .doctors .doctors__list-body {
    display: block;
  }
}

.doctors .doctors__list-body .doctor__mini-cards-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 48%;
          flex: 1 48%;
  margin-right: 15px;
}

.doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card {
  padding-left: 20px;
  margin-bottom: 30px;
  background: #F3FEFE;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  max-width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card:hover {
  background: #BDF8F9;
}

.doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-active {
  background: #BDF8F9;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 116px;
  width: 172px;
}

@media (min-width: 666px) and (max-width: 768px) {
  .doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-img {
    display: none;
  }
}

.doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-img img {
  max-width: 100%;
  height: 110%;
  margin-top: -12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: start;
  padding: 5px;
}

.doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text .doctor__mini-card-text-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #474551;
  margin-bottom: 7px;
}

@media (max-width: 1024px) {
  .doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text .doctor__mini-card-text-title {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text .doctor__mini-card-text-title {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text .doctor__mini-card-text-title {
    font-size: 16px;
  }
}

.doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text .doctor__mini-card-text-subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #099DBA;
}

@media (max-width: 1024px) {
  .doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text .doctor__mini-card-text-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text .doctor__mini-card-text-subtitle {
    font-size: 14px;
  }
}

.doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text .doctor__mini-card-text-subtitle span {
  font-weight: 400;
  font-size: 18px;
  color: #474551;
  padding-left: 10px;
}

@media (max-width: 1024px) {
  .doctors .doctors__list-body .doctor__mini-cards-column .doctor__mini-card-text .doctor__mini-card-text-subtitle span {
    font-size: 14px;
  }
}

.doctors .doctor__cards-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 48%;
          flex: 1 48%;
  height: 100%;
}

@media (max-width: 768px) {
  .doctors .doctor__cards-column {
    padding-bottom: 30px;
  }
}

@media (max-width: 666px) {
  .doctors .doctor__cards-column {
    display: none;
  }
}

.doctors .doctor__cards-column .doctor__card {
  text-align: left;
  background: #FFF;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  max-width: 630px;
  position: relative;
}

@media (min-width: 1156px) {
  .doctors .doctor__cards-column .doctor__card {
    height: 690px;
  }
}

.doctors .doctor__cards-column .doctor__card .doctor__card-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1200px) {
  .doctors .doctor__cards-column .doctor__card .doctor__card-img {
    position: relative;
    width: 50%;
    margin: auto;
  }
}

.doctors .doctor__cards-column .doctor__card .doctor__card-text {
  padding: 40px 5px 0 30px;
  z-index: 3;
  position: relative;
}

@media (max-width: 1024px) {
  .doctors .doctor__cards-column .doctor__card .doctor__card-text {
    margin: 20px 0 0 20px;
  }
}

.doctors .doctor__cards-column .doctor__card .doctor__card-text .doctor__card-text-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #474551;
  margin-bottom: 10px;
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .doctors .doctor__cards-column .doctor__card .doctor__card-text .doctor__card-text-title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .doctors .doctor__cards-column .doctor__card .doctor__card-text .doctor__card-text-title {
    font-size: 18px;
  }
}

.doctors .doctor__cards-column .doctor__card .doctor__card-text .doctor__card-text-subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #099DBA;
  max-width: 260px;
}

@media (max-width: 1024px) {
  .doctors .doctor__cards-column .doctor__card .doctor__card-text .doctor__card-text-subtitle {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .doctors .doctor__cards-column .doctor__card .doctor__card-text .doctor__card-text-subtitle {
    font-size: 16px;
  }
}

.doctors .doctor__cards-column .doctor__card .doctor__card-text .doctor__card-text-subtitle span {
  font-weight: 500;
  color: #474551;
}

.doctors .doctor__cards-column .doctor__card-about-doctor {
  background: rgba(243, 254, 254, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 20px;
  max-width: 312px;
  padding: 15px;
  position: absolute;
  bottom: 14px;
  left: 16px;
}

@media (max-width: 1155px) {
  .doctors .doctor__cards-column .doctor__card-about-doctor {
    position: relative;
    max-width: 100%;
    margin: -20px 10px 0px 10px;
    left: 0;
    height: 100%;
  }
}

.doctors .doctor__cards-column .doctor__card-about-doctor .doctor__card-about-doctor-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #099DBA;
  margin-bottom: 20px;
}

.doctors .doctor__cards-column .doctor__card-about-doctor .doctor__card-about-doctor-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #474551;
}

.doctors .doctor__cards-column .doctor__card-about-doctor .doctor__card-about-doctor-subtitle span {
  font-weight: 600;
}

.doctors .doctor__cards-column .doctor__card-btn {
  margin: 45px auto 0 auto;
}

.after-doctors-container {
  text-align: center;
}

.consultation__form-section {
  background: url(../img/form_bg.png) center/cover no-repeat;
  min-height: 488px;
}

.consultation__form-section .consultation__form-wrapper .consultation__body {
  max-width: 520px;
  margin: 25px 0 25px auto;
}

@media (max-width: 768px) {
  .consultation__form-section .consultation__form-wrapper .consultation__body {
    margin: 25px auto;
  }
}

.consultation__form-section .consultation__form-wrapper .consultation__form {
  text-align: center;
  background: #F3FEFE;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 25px 55px;
  width: 100%;
  min-height: 389px;
}

@media (max-width: 375px) {
  .consultation__form-section .consultation__form-wrapper .consultation__form {
    padding: 25px 15px;
  }
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  padding: 0 55px;
}

@media (max-width: 425px) {
  .consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs {
    padding: 0;
  }
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs .btn-style {
  background: #FFF;
  border: 2px solid #BDF8F9;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  max-height: 40px;
  margin-bottom: 20px;
  padding: 9px;
  color: #046DBF;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs .btn-style:focus {
  border: 2px solid #046DBF;
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs .btn-style::-webkit-input-placeholder {
  color: #BDF8F9;
  text-align: center;
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs .btn-style:-ms-input-placeholder {
  color: #BDF8F9;
  text-align: center;
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs .btn-style::-ms-input-placeholder {
  color: #BDF8F9;
  text-align: center;
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs .btn-style::placeholder {
  color: #BDF8F9;
  text-align: center;
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs .cta-style {
  max-height: 40px;
  background: #046DBF;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  padding: 9px 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 100%;
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs .cta-style:hover {
  border: 2px solid #099DBA;
  background-color: #fff;
  color: #099DBA;
  line-height: 19px;
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-inputs .cta-style:active {
  background-color: #046DBF;
  color: #FFF;
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: #046DBF;
}

@media (max-width: 425px) {
  .consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-title {
    font-size: 22px;
  }
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #099DBA;
  margin-top: 20px;
}

@media (max-width: 425px) {
  .consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-subtitle {
    font-size: 18px;
  }
}

.consultation__form-section .consultation__form-wrapper .consultation__form .consultation__form-status {
  margin-top: 10px;
  color: #474551;
}

footer {
  background: #F3FEFE;
  padding-bottom: 26px;
}

footer .footer__map {
  padding: 100px 0;
  position: relative;
}

@media (max-width: 768px) {
  footer .footer__map {
    padding: 0;
  }
}

footer .map {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #33D9DA;
}

@media (max-width: 768px) {
  footer .map {
    position: relative;
    height: 560px;
  }
}

footer .footer__contacts {
  position: relative;
  z-index: 10;
  color: #fff;
  max-width: 538px;
  background: #099DBA;
  opacity: 0.95;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 30px 130px 30px 60px;
  text-align: start;
}

@media (max-width: 768px) {
  footer .footer__contacts {
    margin: 25px auto;
  }
}

@media (max-width: 444px) {
  footer .footer__contacts {
    font-size: 24px;
  }
}

@media (max-width: 444px) {
  footer .footer__contacts {
    padding: 30px 15px;
  }
}

@media (max-width: 425px) {
  footer .footer__contacts h2 {
    font-size: 36px;
  }
}

footer .footer__contacts h2,
footer .footer__contacts a,
footer .footer__contacts span {
  color: #FFF;
}

footer .footer__contacts .footer__contacts-text p:first-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
}

footer .footer__contacts .get-direction {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #046DBF;
  margin: 20px 0 12px 0;
  position: relative;
  display: inline-block;
  padding-right: 30px;
}

footer .footer__contacts .get-direction:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  top: -8px;
  right: 0;
  background: url(../img/icons/MapPinLine.svg) 0 0/cover no-repeat;
}

footer .footer__contacts .footer__contacts-text p:nth-child(3) {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

footer .footer__contacts .footer__contacts-text p:nth-child(4) {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

footer .footer__contacts .footer__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 15px;
}

@media (max-width: 444px) {
  footer .footer__contacts .footer__tel {
    font-size: 20px;
  }
}

footer .footer__contacts .fb-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 140%;
}

footer .footer__contacts .fb-button span {
  padding-left: 10px;
  padding-top: 6px;
}

footer .footer__nav {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  footer .footer__nav ul {
    display: none;
  }
}

footer .footer__nav ul a {
  color: #099DBA;
}

footer .footer__nav ul a:hover {
  color: #474551;
  font-weight: 600;
}

footer .footer__nav ul li {
  text-align: center;
  margin-right: 30px;
}

footer .footer__nav ul li:last-child {
  margin-right: 0;
}

@media (max-width: 507px) {
  footer .footer__burger {
    display: none;
  }
}

@media (min-width: 768px) {
  footer .footer__burger {
    display: none;
  }
}
