@import 'fonts.scss';
@import 'nullstyle.scss';

$sk: #046DBF;
$c1: #099DBA;
$c2: #33D9DA;
$c3: #BDF8F9;
$c4: #F3FEFE;
$c5: #474551;

h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 120%;
    color: $c5;
}

h2 {
    font-weight: 500;
    font-size: 42px;
    line-height: 120%;
    color: $c5;
}

h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    color: $c1;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

body {
    font-family: 'Gilroy', 'Roboto', sans-serif;
    font-style: normal;
    height: 100%;
}

.lock {
    overflow: hidden;
}

section {
    margin-top: 90px !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    max-width: 300px;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: $c1;
    margin-right: 5px;

    @media (max-width: 1024px) {
        font-size: 16px;
    }

    @media (max-width: 768px) {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        font-size: 20px;
    }

    @media (max-width: 360px) {
        flex-direction: column;
        align-items: flex-start;
    }

    img {
        margin-right: 15px;

        @media (max-width: 1024px) {
            max-width: 73px;
            margin-right: 11px;
        }
    }
}

.cta {
    width: 280px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: $sk;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    color: #fff;
    padding: 9px 45.5px;
    transition: 0.1s;


    &:active {
        border: 2px solid $c1;
        background-color: #fff;
        color: $c1;
        line-height: 22px;
    }

    @media(min-width: 1023px) {
        &:hover {
            border: 2px solid $c1;
        }
    }


}

.btn {
    text-align: center !important;
    width: 185px !important;
    max-height: 40px !important;
    padding: 7px 0 !important;
    background: rgba(255, 255, 255, 0.6) !important;
    border: 2px solid $c1  !important;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05) !important;
    border-radius: 30px !important;
    cursor: pointer !important;
    transition: 0.2s !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 22px !important;
    color: $c1  !important;

    &:active {
        border: 2px solid $c1  !important;
        background-color: $c3  !important;
        color: $c1  !important;
    }

    @media(min-width: 1023px) {

        &:hover {
            background-color: $c3  !important;
        }

        &:active {
            border: 2px solid $c1  !important;
            background-color: #fff !important;
            color: $c1  !important;
        }
    }
}

.img-bg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.section__title {
    text-align: center;
    margin-bottom: 30px;

    h2 {
        @media(max-width: 1024px) {
            font-size: 36px;
        }

        @media(max-width: 425px) {
            font-size: 24px;
        }
    }

    h3 {
        margin-top: 30px;

        @media(max-width: 1024px) {
            font-size: 24px;
        }

        @media(max-width: 425px) {
            font-size: 20px;
        }

        span {
            color: $sk;
        }
    }
}

main {
    flex: 1 1 auto
}

.burger {

    &__menu-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(../img/main-bg.jpg) right/cover no-repeat;
        z-index: 2;
        padding: 15px 24px 50px 24px;
        transition: top 0.3s ease-in 0.1s;
        overflow: hidden;
        margin: auto;
        z-index: 20;

        &.active {
            top: 0;
        }

        .logo {
            flex: 1;
        }
    }

    &__menu-list {
        list-style: none;
        position: relative;
        font-size: 0.92rem;
        font-weight: 700;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        z-index: 10;
        flex: 1 40%;

        a {
            color: $c5;
            opacity: 0.8;
        }
    }
}

.owl-carousel {
    position: relative;


    .owl-stage {
        display: flex;
    }
}

.owl-item-img {
    height: 100%;
    border-radius: 15px;
    transition: 0.1s;
    cursor: pointer;

    &:hover {
        filter: contrast(1.1);
    }
}



.owl-nav {
    width: 100%;
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: space-between;

    @media(max-width:425px) {
        display: none;
    }

    button {
        display: block;
        width: 30px;
        height: 30px;
        background: $c3  !important;
        border-radius: 50%;
        filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05)) !important;
    }
}

.owl-dots {
    margin: 10px auto;
    max-width: max-content;
}

.owl-dot {
    width: 18px;
    height: 18px;
    background-color: $c3  !important;
    border-radius: 50%;

    &.active {
        border: 1px solid $c2  !important;
    }
}

.owl-dot+.owl-dot {
    margin-left: 20px;
}



.modal-content {
    padding: 5px;
    background: $c4 ;
}

.btn-close {
    margin-left: auto;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    h3 {
        font-size: 26px;
        line-height: 140%;
    }

    a {
        margin: 30px auto;
        width: 70% !important;
    }

    .modal-doctor-card {
        @media(max-width: 666px) {
            display: block !important;
        }
    }
}

.header {
    @media (max-width: 500px) {
        background: $c4;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 160px;

    @media (max-width: 1024px) {
        min-height: 130px;
    }

    .mini-burger {
        position: fixed;
        top: 5px;
        right: 15px;
        z-index: 300;
        transform: scale(0.7);
        opacity: 0.7;
    }

    .nav__burger {
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }

        .burger__img {
            background: #FFF;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            max-width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                width: 60px;
                height: 60px;
            }
        }
    }

    & .work-time {
        @media (max-width: 992px) {
            display: none;
        }
    }

    & .work-address {
        @media (max-width: 507px) {
            display: none;
        }
    }

    .nav__address:hover {
        .nav__address-subtitle {
            font-weight: 600;
        }
    }

    .nav__address-title {
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: $c1;
        padding-left: 30px;

        @media (max-width: 1024px) {
            font-size: 16px;
        }

        @media (max-width: 768px) {
            font-size: 18px;
        }

        &:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 22px;
            display: inline-block;
            top: 0;
            left: 0;
            background: url(../img/icons/MapPin.svg) 0 0 no-repeat;
        }
    }

    .nav__address-subtitle {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $c5;
        margin-top: 10px;
    }

    .nav__social-icons {
        display: flex;
        flex-wrap: wrap;

        a {
            display: block;
            padding: 2px;
        }

        @media(max-width: 768px) {
            flex-direction: column;
        }

        @media(max-width: 539px) {
            display: none;
        }
    }

    .nav__tel {
        display: flex;
        flex-direction: column;
        text-align: end;

        a {
            display: block;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: 0.025em;
            color: $c5;

            @media(max-width: 992px) {
                font-size: 16px;
            }

            &:hover {
                font-weight: 600;
            }
        }

        .callme {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $c1;
        }

        .callme:hover {
            font-weight: 600;
            color: $c5;
        }

        @media(max-width: 768px) {
            display: none;
        }
    }
}

.page {

    &__main-block {
        position: relative;

        @media (max-width: 425px) {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
        }
    }
}

.main-block {

    &__body {
        padding: 92px 0 132px 0;
        position: relative;
        z-index: 2;

        @media (max-width: 1024px) {
            padding: 60px 0 32px 0;
        }

        @media (max-width: 1024px) {
            padding: 30px 0 70px 0;
        }


        @media (max-width: 425px) {
            padding: 20px 0 106px 0;
        }
    }

    &__title {
        max-width: 926px;
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            max-width: 628px;
            font-size: 36px;
        }

        @media (max-width: 768px) {
            max-width: 527px;
            font-size: 32px;
        }

        @media (max-width: 425px) {
            max-width: 277px;
            font-size: 20px;
        }
    }

    &__subtitle {
        max-width: 630px;

        @media (max-width: 1024px) {
            max-width: 500px;
            font-size: 24px;
        }

        @media (max-width: 425px) {
            max-width: 277px;
            font-size: 16px;
        }
    }

    &__text {
        max-width: 456px;
        font-weight: 500;
        font-size: 24px;
        line-height: 140%;
        color: $c5;
        margin: 60px 0;

        span {
            color: $c2;
        }

        @media (max-width: 1024px) {
            display: inline-block;
        }

        @media (max-width: 768px) {
            display: block;
            margin-top: 30px;
        }

        @media (max-width: 425px) {
            max-width: 267px;
            font-size: 16px;
        }
    }

    &__buttons {
        @media (max-width: 1024px) {
            display: inline-block;
            margin: 0 0 0 46px;
        }

        @media (max-width: 768px) {
            display: block;
            text-align: center;
            margin: 18px 0 0 0;
        }

        @media (max-width: 425px) {
            margin: 30px 0 0 0;
        }
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
            @media (max-width: 425px) {
                object-position: 85%;
            }

            @media (max-width: 425px) {
                opacity: 0.3;
            }
        }
    }
}

.page {

    &__benefits {
        margin-top: -50px;
        position: relative;
        z-index: 2;

        @media(max-width: 1024px) {
            margin-top: -20px;
        }
    }
}

.benefits {

    &__body {
        display: flex;
        margin: 0 -15px;

        @media (max-width: 627px) {
            flex-wrap: wrap;
            padding: 0 15px;
        }
    }

    &__column {
        padding: 0 15px;
        flex: 0 1 33.333%;

        @media (max-width: 627px) {
            flex: 0 1 100%;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        background: $c4;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        padding: 20px;

        @media(max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.benefit {

    &__icon {
        min-width: 63px;
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: $c1;

        @media(max-width: 1024px) {
            font-size: 22px;
        }

        @media(max-width: 768px) {
            flex: 1;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;

        @media(max-width: 1024px) {
            font-size: 16px;
            margin: 20px 0 0 0;
        }
    }

    &__text {
        margin: 0 0 10px 25px;

        @media(max-width: 1024px) {
            text-align: center;
            margin: 20px 0 0 0;
            flex: 1;
        }

        @media(max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }
}

.free-consultation {
    text-align: center;

    .free-consultation-cta {
        font-size: 24px;
        line-height: 29px;
    }
}

.free-consultation-cards {
    display: flex;
    justify-content: space-between;
    min-height: 422px;
    margin-bottom: 40px;

    @media(max-width: 549px) {
        padding: 0 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .consultation__card-column {
        max-width: 410px;
        flex-basis: 33.333%;

        &:nth-child(2) {
            margin: 0 5px;
        }

        @media(max-width: 549px) {
            flex: 0 1 100%;
        }
    }

    .consultation__card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media(max-width: 549px) {
            padding: 30px 0 0 0;
        }
    }

    .consultation__card-img {
        max-width: 410px;
        height: 280px;

        @media(max-width: 549px) {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            object-position: right;
        }
    }

    .consultation__card-text {
        margin-top: 20px;
        color: $c5;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        .card-text-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 5%;

            @media(max-width: 1024px) {
                font-size: 22px;
            }

            @media(max-width: 768px) {
                font-size: 18px;
            }
        }

        .card-text-subtitle {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            flex-basis: 50%;
        }
    }
}


.promotion {
    text-align: center;

    &__carousel {
        position: relative;
        min-height: 365px;
    }

    &__carousel-arrow {
        position: absolute;
        height: 300px;
        display: flex;
        align-items: center;

        @media(max-width:425px) {
            display: none;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .arrow__left {
        top: 0;
        left: 0;
        padding-left: -15px;
    }

    .arrow__right {
        top: 0;
        right: 0;
    }

    .arrow__prev,
    .arrow__next {
        padding: 8px;
        background: $c4;
        border-radius: 50%;
        filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
    }
}

.shares {

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -15px;
        min-height: 300px;
    }

    &__column {
        padding: 0 15px;
        flex: 0 1 33.333%;

        @media(max-width: 768px) {
            flex: 0 1 50%;
        }

        @media(max-width: 550px) {
            flex: 0 1 100%;
        }
    }

    &__item {
        position: relative;
        max-height: 300px;
    }
}

.share {

    &__img {
        position: relative;
        max-width: 300px;
        margin: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__button {
        position: absolute;
        bottom: 5%;
        width: 100%;

        a {
            margin: auto;
        }
    }
}

.dots {
    margin-top: 30px;

    .dot {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: $c3;
        border-radius: 50%;

        &:not(:last-child) {
            margin: 0 20px 0 0;
        }
    }

    .dot__active {
        width: 24px;
        height: 24px;
        background-color: $c2;
    }
}

.services {

    .services__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -15px;

        .services__column {
            flex: 0 1 50%;
            padding: 0 15px;
            margin-top: 30px;

            @media(max-width: 1024px) {
                flex: 0 1 100%;
            }
        }

        .services__card {
            background: $c4;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            width: 100%;
            height: 100%;
            padding: 30px 2px 40px 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .services__card-content {
                text-align: start;

                h3 {
                    margin-bottom: 9px;

                    @media(max-width: 1024px) {
                        margin-bottom: 20px;
                    }

                    @media(max-width: 768px) {
                        margin-bottom: 30px;
                    }

                    @media(max-width: 505px) {
                        font-size: 20px;
                        margin-bottom: 30px;
                    }
                }
            }

            .services__card-content-img {
                float: right;
                max-width: 253px;

                @media(max-width: 1024px) {
                    max-width: 320px;
                    margin: 15px 45px 0 0;
                }

                @media(max-width: 768px) {
                    max-width: 240px;
                    margin: 100px 35px 0 0;
                }

                @media(max-width: 505px) {
                    max-width: 100px;
                    margin: -55px 0 0 0;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                }
            }

            .card-1 {
                shape-outside: url(../img/services_1.png);
                shape-margin: 1%;
            }

            .card-2 {
                shape-outside: url(../img/services_2.png);
                shape-margin: 2%;
            }

            .card-3 {
                shape-outside: url(../img/services_3.png);
                shape-margin: 2%;
            }

            .card-4 {
                shape-outside: url(../img/services_4.png);
                shape-margin: 2%;
            }

            .card-5 {
                shape-outside: url(../img/services_5.png);
                shape-margin: 2%;
            }

            .card-6 {
                shape-outside: url(../img/services_6.png);
                shape-margin: 2%;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: $c5;
                margin: 0 0 15px 0;
            }

            li {
                font-weight: 500;
                font-size: 22px;
                line-height: 140%;
                margin-left: 20px;
                color: $c5;
            }
        }
    }
}

.buttons-ask-in-messenger {
    text-align: center;

    @media(max-width: 425px) {
        display: none;
    }

    span {
        padding-left: 30px;
        color: $c5;
    }

    & img:first-child {
        margin-right: 9px;
    }
}

.services__card-buttons-cta {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;

    @media(max-width: 425px) {
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50px;
    }

    button {
        display: block;
        flex: 0 1 50%;
        max-width: 188px;

        @media(max-width: 425px) {
            margin: 15px auto;
        }
    }
}

.cta-hover:hover {
    background: $sk;
    border: 2px solid $sk;
    color: #FFF;
}


.tech {
    margin-top: 30px;
    padding: 0 5px;

    &__container {
        background: $c4;
        border-radius: 20px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    }

    &__body {
        display: flex;
        width: 100%;

        @media(max-width: 1024px) {
            flex-wrap: wrap;
        }
    }

    &__column {
        flex: 0 1 50%;
        padding: 30px 15px;
        height: 100%;

        @media(max-width: 1024px) {
            flex: 0 1 100%;
        }

        @media(max-width: 425px) {
            padding: 30px 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.video-frame {

    &__title {
        h3 {
            margin: 0;
        }

        margin: 30px 0;
    }

    &__player {
        max-width: 550px;
        margin: auto;

        @media(max-width: 610px) {
            margin: 0;
            width: 100%;
        }


        h4 {
            color: $c1;
            margin-bottom: 9px;
        }

        iframe {
            width: 550px;
            height: 305px;
            display: block;

            @media(max-width: 610px) {
                width: 100%;
            }

        }
    }

    &__btn {
        margin: 30px 0;

        @media(max-width: 1024px) {
            display: none;
        }
    }
}

.text-frame {
    margin-top: 30px;

    &__list {
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        color: $c5;
        margin: auto;

        @media(max-width: 768px) {
            font-size: 20px;
        }

        li {
            margin: 0 0 30px 20px;

            @media(max-width:375px) {
                margin: 0 0 30px 0;
            }
        }
    }

    &__btn {
        display: none;

        @media(max-width: 1024px) {
            display: block;
            box-sizing: content-box;
            margin: auto;

        }
    }
}

.tech__benefits-list {
    padding: 60px 0 70px 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        url(../img/section-bg.jpg) center / cover no-repeat;
    border-radius: 0 0 20px 20px;

    @media (max-width: 810px) {
        padding: 60px 5px 70px 5px;
        ;
    }

    .tech__benefits-list-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tech__benefits-point {
        display: flex;
        max-width: 770px;
        background: $c3;
        border-radius: 20px;
        padding: 18px 27px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    @media(min-width:1025px) {
        .point-1 {
            margin-left: 5%;
        }

        .point-2 {
            margin-left: 15%;
        }

        .point-3 {
            margin-left: 25%;
        }

        .point-4 {
            margin-left: 35%;
        }
    }

    .point__number {
        text-align: center;
        font-style: italic;
        font-weight: 700;
        font-size: 68px;
        line-height: 160%;
        color: $sk;
        background: #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 30px;
        flex-shrink: 0;

        @media(max-width:630px) {
            width: 80px;
            height: 80px;
            font-size: 52px;
        }
    }

    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: $c5;

        @media(max-width:630px) {
            font-size: 14px;
        }
    }

    .services__card-buttons {
        margin-top: 60px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}


.doctors {
    .doctors__list-body {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        @media (max-width: 666px) {
            display: block;
        }

        .doctor__mini-cards-column {
            display: flex;
            flex-direction: column;
            flex: 1 48%;
            margin-right: 15px;


            .doctor__mini-card {
                padding-left: 20px;
                margin-bottom: 30px;
                background: $c4;
                box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
                border-radius: 20px;
                max-width: 630px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 1;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background: $c3;
                }
            }

            .doctor__mini-card-active {
                background: $c3;
                transform: scale(1.04);
            }

            .doctor__mini-card-img {
                align-self: flex-end;
                height: 116px;
                width: 172px;

                @media (min-width:666px) and (max-width:768px) {
                    display: none;
                }

                img {
                    max-width: 100%;
                    height: 110%;
                    margin-top: -12px;
                    object-fit: cover;
                }
            }

            .doctor__mini-card-text {
                flex: 1;
                align-self: center;
                text-align: start;

                .doctor__mini-card-text-title {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: $c5;
                    margin-bottom: 7px;

                    @media(max-width: 1024px) {
                        font-size: 20px;
                    }

                    @media(max-width: 768px) {
                        font-size: 18px;
                    }

                    @media(max-width: 425px) {
                        font-size: 16px;
                    }
                }

                .doctor__mini-card-text-subtitle {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 140%;
                    color: $c1;

                    @media(max-width: 1024px) {
                        font-size: 16px;
                    }

                    @media(max-width: 425px) {
                        font-size: 14px;
                    }

                    span {
                        font-weight: 400;
                        font-size: 18px;
                        color: $c5;
                        padding-left: 10px;

                        @media(max-width: 1024px) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .doctor__cards-column {
        flex: 1 48%;
        height: 100%;

        @media(max-width: 768px) {
            padding-bottom: 30px;
        }

        @media (max-width: 666px) {
            display: none;
        }

        .doctor__card {
            text-align: left;
            background: #FFF;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            max-width: 630px;
            position: relative;

            @media(min-width: 1156px) {
                height: 690px;
            }

            .doctor__card-img {
                position: absolute;
                right: 0;
                bottom: 0;

                @media(max-width: 1155px) {
                    position: relative;
                    width: 50%;
                    margin: auto;
                }
            }

            .doctor__card-text {
                padding: 40px 5px 0 30px;

                @media(max-width: 1024px) {
                    margin: 20px 0 0 20px;
                }

                .doctor__card-text-title {
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 34px;
                    color: $c5;
                    margin-bottom: 10px;
                    z-index: 3;
                    position: relative;
                    max-width: 100%;
                    overflow: hidden;

                    @media(max-width: 1024px) {
                        font-size: 24px;
                    }

                    @media(max-width: 768px) {
                        font-size: 18px;
                    }
                }

                .doctor__card-text-subtitle {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 140%;
                    color: $c1;
                    max-width: 260px;

                    @media(max-width: 1024px) {
                        font-size: 20px;
                    }

                    @media(max-width: 768px) {
                        font-size: 16px;
                    }

                    span {
                        font-weight: 500;
                        color: $c5;
                    }
                }
            }
        }

        .doctor__card-about-doctor {
            background: rgba(243, 254, 254, 0.8);
            backdrop-filter: blur(12px);
            border-radius: 20px;
            max-width: 312px;
            padding: 15px;
            position: absolute;
            bottom: 14px;
            left: 16px;

            @media(max-width: 1155px) {
                position: relative;
                max-width: 100%;
                margin-top: -20px;
                left: 0;
                height: 100%;
            }

            .doctor__card-about-doctor-title {
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                color: $c1;
                margin-bottom: 20px;
            }

            .doctor__card-about-doctor-subtitle {
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: $c5;

                span {
                    font-weight: 600;
                }
            }
        }

        .doctor__card-btn {
            margin: 45px auto 0 auto;
        }
    }
}

.after-doctors-container {
    text-align: center;
}

.consultation__form-section {
    background: url(../img/form_bg.png) center / cover no-repeat;
    min-height: 488px;

    .consultation__form-wrapper {
        .consultation__body {
            max-width: 520px;
            margin: 25px 0 25px auto;

            @media(max-width:768px) {
                margin: 25px auto;
            }
        }

        .consultation__form {
            text-align: center;
            background: $c4;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            padding: 25px 55px;
            width: 100%;
            min-height: 389px;

            @media(max-width:375px) {
                padding: 25px 15px;
            }

            .consultation__form-inputs {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                padding: 0 55px;

                @media(max-width: 425px) {
                    padding: 0;
                }

                .btn-style {
                    background: #FFF;
                    border: 2px solid $c3;
                    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
                    border-radius: 30px;
                    max-height: 40px;
                    margin-bottom: 20px;
                    padding: 9px;
                    color: $sk;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    width: 100%;

                    &:focus {
                        border: 2px solid $sk;
                    }

                    &::placeholder {
                        color: $c3;
                        text-align: center;
                    }
                }

                .cta-style {
                    max-height: 40px;
                    background: $sk;
                    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
                    border-radius: 30px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFF;
                    padding: 9px 0;
                    transition: 0.1s;
                    width: 100%;

                    &:hover {
                        border: 2px solid $c1;
                        background-color: #fff;
                        color: $c1;
                        line-height: 19px;
                    }

                    &:active {
                        background-color: $sk;
                        color: #FFF;
                    }
                }
            }

            .consultation__form-title {
                font-weight: 700;
                font-size: 28px;
                line-height: 120%;
                color: $sk;

                @media(max-width:425px) {
                    font-size: 22px;
                }
            }

            .consultation__form-subtitle {
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: $c1;
                margin-top: 20px;

                @media(max-width:425px) {
                    font-size: 18px;
                }
            }

            .consultation__form-status {
                margin-top: 10px;
                color: $c5;
            }
        }
    }
}

footer {
    background: $c4;
    padding-bottom: 26px;

    .footer__map {
        padding: 100px 0;
        position: relative;

        @media(max-width:768px) {
            padding: 0;
        }
    }

    .map {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid $c2;

        @media(max-width:768px) {
            position: relative;
            height: 560px;
        }
    }

    .footer__contacts {
        position: relative;
        z-index: 10;
        color: #fff;
        max-width: 538px;
        background: $c1;
        opacity: 0.95;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        padding: 30px 130px 30px 60px;
        text-align: start;

        @media(max-width:768px) {
            margin: 25px auto;
        }

        @media(max-width:444px) {
            font-size: 24px;
        }

        @media(max-width:444px) {
            padding: 30px 15px;
        }

        h2 {
            @media(max-width:425px) {
                font-size: 36px;
            }
        }

        h2,
        a,
        span {
            color: #FFF;
        }

        .footer__contacts-text p:first-child {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            margin-top: 20px;
        }

        .get-direction {
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: $sk;
            margin: 20px 0 12px 0;
            position: relative;
            display: inline-block;
            padding-right: 30px;

            &:after {
                position: absolute;
                content: '';
                width: 30px;
                height: 30px;
                top: -8px;
                right: 0;
                background: url(../img/icons/MapPinLine.svg) 0 0/ cover no-repeat;
            }
        }

        .footer__contacts-text p:nth-child(3) {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        .footer__contacts-text p:nth-child(4) {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 20px;
        }

        .footer__tel {
            display: flex;
            flex-direction: column;
            font-weight: 500;
            font-size: 24px;
            line-height: 140%;
            margin-bottom: 15px;

            @media(max-width:444px) {
                font-size: 20px;
            }
        }

        .fb-button {
            display: inline-block;
            margin-top: 10px;
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
        }
    }

    .footer__nav {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            list-style: none;
            display: flex;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            flex-wrap: wrap;
            justify-content: center;

            @media(max-width: 767px) {
                display: none;
            }

            a {
                color: $c1;

                &:hover {
                    color: $c5;
                    font-weight: 600;
                }
            }

            li {
                text-align: center;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .footer__burger {
        @media (max-width: 507px) {
            display: none;
        }

        @media (min-width: 768px) {
            display: none;
        }
    }
}